name: Android CD

on:
  push:
    tags:
      - android/*

jobs:
  build_unit_test_publish_job:
    name: Build -> Unit-test -> Publish
    runs-on: macos-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
          cache-overwrite-existing: true
      - name: Decrypt large secret
        run: ./.github/scripts/decrypt_secret.sh
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - name: Build and Upload to Google Play
        working-directory: ./app/android
        run: fastlane build_bundle_publish
      - name: Archive build artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            app/android/build/outputs
            app/android/build/reports
