name: Desktop Java CD

on:
  push:
    tags:
      - desktop/*

jobs:
  build_job:
    name: Package
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
          cache-overwrite-existing: true
      - name: Decrypt large secret
        run: ./.github/scripts/decrypt_secret.sh
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - name: Import Developer ID cert (macOS)
        if: matrix.os == 'macos-latest'
        run: ./.github/scripts/import_macos_dev_id_cert.sh
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - name: Package uberJar
        run: ./gradlew :app:desktop:packageReleaseUberJarForCurrentOS
      - name: Packaging (macOS)
        if: matrix.os == 'macos-latest'
        run: ./gradlew --no-configuration-cache :app:desktop:notarizeReleaseDmg
      - name: Packaging (Linux & Windows)
        if: matrix.os != 'macos-latest'
        run: ./gradlew packageReleaseDistributionForCurrentOS
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            app/desktop/build/compose/binaries/main-release/deb/*.deb
            app/desktop/build/compose/binaries/main-release/dmg/*.dmg
            app/desktop/build/compose/binaries/main-release/msi/*.msi
            app/desktop/build/compose/jars/*.jar