name: iOS CD

on:
  push:
    tags:
      - ios/*

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
          cache-overwrite-existing: true
      - name: Decrypt large secret
        run: ./.github/scripts/decrypt_secret.sh
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - name: Download the Apple Worldwide Developer Relations Intermediate Certificate
        working-directory: ./app/iosApp/fastlane
        run: curl -o AppleWWDRCAG3.cer https://www.apple.com/certificateauthority/AppleWWDRCAG3.cer
      - name: Install the Apple certificate and provisioning profile
        working-directory: ./app/iosApp
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
          KEYCHAIN_NAME: app-signing
        run: fastlane setup_certificates_lane
      - name: Pre-build with Gradle
        run: ./gradlew :app:ios-kit:linkPodReleaseFrameworkIosArm64
      - name: AppStore build lane with gym
        working-directory: ./app/iosApp
        run: fastlane appstore_build_gym_lane
      - name: AppStore publish lane with deliver
        working-directory: ./app/iosApp
        run: fastlane appstore_publish_deliver_lane
      - name: Archive build artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: test-artifacts
          path: |
            app/iosApp/iosApp.app.dSYM.zip
            app/iosApp/iosApp.ipa
            app/iosApp/fastlane/test_output/report.html
            /Users/runner/Library/Logs/gym/iosApp-iosApp.log
            /Users/runner/Library/Logs/scan/iosApp-iosApp.log